&.home {
    display: flex;
    justify-content: center;
  
    @import "search";
  
    .home-not-signed-in {
      display: flex;
      align-items: center;
      justify-content: center;
  
      .home-not-signed-in-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        height: 25rem;
        width: 35rem;
      }
    }
    .home-movie-title {
      display: flex;
      align-items: center;
      flex-direction: column;
  
      .home-movie-poster-view-check {
        display: flex;
        align-items: center;

        .home-poster-view-button, .home-movie-night-button {
          border: none;
          background: #282828;
          color: $main-colour;
        }
      }
  
      h1 {
        font-weight: 800;
        color: rgb(56, 56, 56);
        margin: 2rem 0 0;
      }
    }

    .home-movie-night-button {
      border: none;
      background: #282828;
      color: $main-colour;
    }
    
    .home-collection {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 1rem 0;
  
        .home-collection-movie {
          display: flex;
          background: #fff;
          flex-direction: row;
          border-radius: 0;
          margin: 0;
          padding: 0.5rem 1rem;
          border-bottom: 1px solid rgb(211, 211, 211);
          align-items: flex-start;
          max-width: 50rem;
          justify-content: flex-start;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
           cursor: pointer;
  
          &:nth-child(odd) {
            background: rgb(231, 231, 231);
          }
  
          .home-collection-movie-poster {
              margin-right: 1rem;
              img {
                  max-width: 4.5rem;
              }
          }
  
          .home-collection-movie-text {
            display: flex;
            flex-direction: column;
  
            h4,
            h5 {
              margin: 0.2rem 0;
              padding: 0;
              text-align: left;
            }
  
            p {
              margin: 0;
              padding: 0;
              font-size: 1rem;
              text-align: left;
            }
  
            h5 {
              font-size: 1rem;
            }
  
            h4 {
                font-size: 1.2rem;
            }
          }
        }

        &.poster {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;

          .home-collection-movie {
            background: none;
            border-radius: .5rem;
            max-width: 11rem;
            margin: 0.5rem;
            border: none;
            box-shadow: none;

            img {
              width: 9rem;
              position: relative;
              box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
              border-radius: .5rem;
            }
          }
        }
      }
}