.movie-night-section {
  max-width: 80vw;
  flex-direction: column;
  display: flex;
  align-items: center;

  .movie-night-title-div {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      background: #282828;
      color: #7dc2af;
      cursor: pointer;
    }

    .movie-night-trash {
      font-size: 2rem;
      color: #282828;
      cursor: pointer;
    }
  }

  .movie-night-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .movie-night-list-div {
      display: none;
      flex-direction: column;
      align-items: center;
      background: #282828;
      padding: 0 0 0.5rem;
      border-radius: 0.5rem;
      margin: 0.5rem;

      img {
        width: 9rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        margin: 0;
        cursor: pointer;
      }

      input[type="checkbox"] {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem 0 0;
        cursor: pointer;
      }
    }
  }
}
