&.selected {
    display: flex;
  justify-content: center;

  .selected-movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    margin: 1rem;
    max-width: 40rem;

    .selected-movie-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgba(0, 0, 0, 0.842);
      border-radius: 1rem;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.30);
      margin: 3rem 4rem;
      padding-bottom: 2rem;

      .selected-movie-img {
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.500);
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }

      div {
        margin: 0 3rem 1rem;
        
        &.selected-movie-title {
          font-size: 2rem;
          margin-top: .2rem;
          margin-bottom: 0;
          color: rgb(240, 240, 240);
          font-weight: 700;
          text-align: center;
        }
        
        &.selected-movie-director {
          font-size: 1.3rem;
          color: rgb(202, 202, 202);
        }

        &.selected-movie-actors {
          color: rgb(230, 230, 230);
          font-weight: 600;
        }
        
        &.selected-movie-plot {
          margin-bottom: 1rem;
          text-align: justify;
          color: rgb(192, 192, 192);
          font-weight: 700;
        }

        &.more-info-button {
          color: #fff;
        }

        &.more-info-button {
          color: $main-colour;
          font-weight: 700;
        }

        &.selected-movie-more-info {
          color: rgb(192, 192, 192);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          align-items: center;
          background: rgb(78, 78, 78);
          width: 100%;
          padding-bottom: 2rem;

          div {
            margin: .5rem;
          }
          
          h4 {
            margin: .5rem;
            color: #fff;
          }

          .selected-movie-ratings-button {
            color: $main-colour;
          }

          .selected-movie-ratings {
            background: rgb(44, 44, 44);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        &.selected-movie-custom-container {
          input, select {
            padding: .5rem .2rem;
            border-radius: .5rem;
            width: 12rem;
            
            option {
              border-radius: .5rem;
              font-size: 1rem;
              font-weight: 700;
            }
          }

          h4 {
            color: #fff;
            margin-bottom: .5rem;
          }
        }
        
      }

      .add-movie-button {
        z-index: 7;
        margin: 1rem;
    }
    }
  }
}